@model IEnumerable<MyWatchWatch.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdminLayout.cshtml";
}

<section class="dashboard-header section-padding">
    <div class="container">
        <h2 class="text-center">Suppliers 0f Watch</h2>

        <p>
            <a href="@Url.Action("Create", "Suppliers")" class="btn btn-info">
                Create
            </a>
        </p>
        @Html.Raw(TempData["msg1"])
        <table class="table table-striped table-bordered table-responsive" id="tablefillset">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ContactName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ContactTitle)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Fax)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.HomePage)
                    </th>
                  
                    <th class="text-center">Method</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomePage)
                        </td>
                   
                        <td class="col-3 text-center">
                            <a href="@Url.Action("Edit", "Suppliers", new { id = item.SupplierId })" class="btn btn-default">
                                <i class="fa fa-plus-square"></i>
                                <span>

                                </span>
                            </a>
                            |
                            <a href="@Url.Action("Delete", "Suppliers", new { id = item.SupplierId })" class="btn btn-default">
                                <i class="fa fa-trash"></i>
                                <span>

                                </span>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</section>