@using MyWatchWatch.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>

@{
    ViewBag.Title = "Women";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="product-top">
        <h2 style="text-align:center; color:blue;">Watch Women</h2>
        @using (Html.BeginForm())
        {

            <div class="form-group row">
                <div class="col-md-9">

                </div>
                <div class="col-md-3">Find by Name or by Category:</div>
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBox("SearchString", null, new { @class = "form-control", data_toggle = "tooltip" })
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                            <input type="submit" value="Search" />
                        </span>
                    </div>
                </div>


            </div>
        }
        <div class="product-one">
            @foreach (var item in Model)
            {
                <div class="col-md-3 product-left" style="padding-bottom: 15px;">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Home", new { id = item.ProductId })" class=""><img class="img-responsive zoom-img" src="~/MyImg/Products/@item.ImgProducts.FirstOrDefault().Img_Product" alt="" /></a>
                        <div class="img-overlay">
                        </div>
                        <div class="product-bottom text-center" style="height: 90px;">
                            <h3>@item.ProductName</h3>
                            <p>@item.ProductDetails</p>
                            @if (item.PromotionId == null || item.Promotion.PromotionDiscount == null || item.Promotion.PromotionDiscount == 0)
                            {

                                <h4><a class="" href="#"><i></i></a> <span class=" item_price">$ @string.Format("{0:#,##0}", item.ProductSold)</span></h4>

                            }
                            else
                            {
                                var motion = item.Promotion.PromotionDiscount;
                                if (motion == 0 || motion == null)
                                {

                                }
                                else
                                {
                                    <h4><a class="" href="#"><i></i></a> <span class=" item_price" style="text-decoration: line-through;">$ @string.Format("{0:#,##0}", item.ProductSold)</span></h4>
                                    <div class="srch">
                                        <span>@item.Promotion.PromotionDiscount%</span>
                                    </div>
                                }
                            }
                            @if (item.PromotionId == null)
                            {

                            }
                            else
                            {
                                var motion = item.Promotion.PromotionDiscount;
                                if (motion == 0 || motion == null)
                                {

                                }
                                else
                                {
                                    var its = item.ProductSold - (item.ProductSold * item.Promotion.PromotionDiscount) / 100;
                                    <h4><a class="" href="#"><i></i></a> <span class=" item_price">$ @string.Format("{0:#,##0}", its)</span></h4>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="content-pagenation text-center">
    @Html.PagedListPager(Model, page => Url.Action("Women",
     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

