
@using MyWatchWatch.Models
@model IEnumerable<Product>

@foreach (var item in Model.Take(4))
{
    <div class="col-md-3 product-left">
        <div class="product-main simpleCart_shelfItem">
            <a href="@Url.Action("Details", "Home", new { id = item.ProductId })" class=""><img class="img-responsive zoom-img" src="~/MyImg/Products/@item.ImgProducts.FirstOrDefault().Img_Product" alt="" /></a>
            <div class="img-overlay">
            </div>
            <div class="product-bottom text-center" style="height: 90px;">
                <h3>@item.ProductName</h3>
                @if (item.PromotionId == null || item.Promotion.PromotionDiscount == null || item.Promotion.PromotionDiscount == 0)
                {
                    <h4><a class="" href="#"><i></i></a> <span class=" item_price">$ @string.Format("{0:#,##0}", item.ProductSold)</span></h4>
                }
                else
                {
                    var motion = item.Promotion.PromotionDiscount;
                    if (motion == 0 || motion == null)
                    {

                    }
                    else
                    {
                        <h4><a class="" href="#"><i></i></a> <span class=" item_price" style="text-decoration: line-through;">$ @string.Format("{0:#,##0}", item.ProductSold)</span></h4>
                        <div class="srch">
                            <span>@item.Promotion.PromotionDiscount%</span>
                        </div>
                    }
                }
                @if (item.PromotionId == null)
                {

                }
                else
                {
                    var motion = item.Promotion.PromotionDiscount;
                    if (motion == 0 || motion == null)
                    {

                    }
                    else
                    {
                        var its = item.ProductSold - (item.ProductSold * item.Promotion.PromotionDiscount) / 100;
                        <h4><a class="" href="#"><i></i></a> <span class=" item_price">$ @string.Format("{0:#,##0}", its)</span></h4>
                    }
                }
            </div>
        </div>
    </div>
}
