@using MyWatchWatch.Models
@model List<ItemGioHang>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            @if (Model == null || Model.Count == 0)
            {
                <p class="text-info text-center">
                    Giỏ hàng của bạn rỗng!
                </p>
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ItemGioHang item in Model)
                                    {
                                        <tr>
                                            <td class="text-center"><img src="~/MyImg/Products/@item.ImgPro.FirstOrDefault().Img_Product" width="50" height="50" /></td>
                                            @*<td><a target="_blank" href="@Url.Action("ChiTiet", "SanPham", new { id = item.SanPhamID })"> @item.TenSanPham </a> </td>*@
                                            <td>@item.ProductName</td>
                                            <td>
                                                <form action="@Url.Action("SuaSoLuong")" method="get">
                                                    <input type="hidden" name="ProductId" value="@item.ProductId" />
                                                    <input type="number" min="1" step="1" name="soluongmoi" value="@item.ProductQtyUser" />
                                                    <button type="submit" class="btn btn-primary btn-sm"> Update </button>
                                                </form>
                                                @if (item.ProductQtyUser > item.ProductQty)
                                                {
                                                <td style="color:red;">Sorry Limit  @item.ProductQty</td>
                                            }
                                            else
                                            {
                                                <td class="btn btn-primary">OK</td>
                                            }

                                                <td> @item.ProductSold.ToString("#,##0").Replace(',', '.') $ </td>
                                                <td> @item.ThanhTien.ToString("#,##0").Replace(',', '.') $ </td>

                                                <td> <a href="@Url.Action("XoaKhoiGio", new { ProductId = item.ProductId })" onclick="return confirm('Are you sure Delete?');" class="btn btn-danger btn-sm">Delete</a> </td>
                                            </tr>
                                        }
                                    <tr>
                                        <td></td>
                                        <td class="text-right">Total:</td>
                                        <td> @Model.Sum(m => m.ProductQtyUser) </td>
                                        <td class="text-right">Price:</td>
                                        <td>@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') $ </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <section class="section-paddings">
                    <div class="container">
                        <div class="row">
                            <div class=" col-md-12">
                                @using (Html.BeginForm("ConfirmCheckOut_Post", "Cart"))
                                {
                                    bool ktra = true;
                                    foreach (ItemGioHang item in Model)
                                    {
                                        if (item.ProductQtyUser > item.ProductQty)
                                        {
                                            ktra = false;
                                        }
                                    }
                                    if (ktra == true)
                                    {
                                        if (@Session["username"] == null)
                                        {
                                            <a class="add-cart item_add" href='@string.Format("https://www.baokim.vn/payment/product/version11?business=phongb1505902%40student.ctu.edu.vn&id=&order_description=&product_name=GioHang&product_price={0}&product_quantity=1&total_amount={1}&url_cancel=http%3A%2F%2Flocalhost%3A51542%2FCart%2FXemGioHang&url_detail=http%3A%2F%2Flocalhost%3A51542%2FCart%2FXemGioHang&url_success=http%3A%2F%2Flocalhost%3A51542%2FCart%2FSusses",Model.Sum(n => n.ThanhTien),Model.Sum(n =>n.ThanhTien))'>Online Pay</a>
                                            <a class="btn btn-danger" href="@Url.Action("LoginCart", "LoginUser")">Check Out</a>
                                        }
                                        else
                                        {
                                            <a class="add-cart item_add" href='@string.Format("https://www.baokim.vn/payment/product/version11?business=phongb1505902%40student.ctu.edu.vn&id=&order_description=&product_name=GioHang&product_price={0}&product_quantity=1&total_amount={1}&url_cancel=http%3A%2F%2Flocalhost%3A51542%2FCart%2FXemGioHang&url_detail=http%3A%2F%2Flocalhost%3A51542%2FCart%2FXemGioHang&url_success=http%3A%2F%2Flocalhost%3A51542%2FCart%2FSusses",Model.Sum(n => n.ThanhTien),Model.Sum(n =>n.ThanhTien))'>Online Pay</a>
                                            <a class="btn btn-danger" href="@Url.Action("ConfirmCheckOut", "Cart")">Check Out</a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="add-cart item_add" href="@Url.Action("XemGioHang", "Cart")" onclick="return confirm('Sorry! The number of products you purchased exceeds the allowed number');">Online Pay</a>
                                        <a class="btn btn-danger" href="@Url.Action("XemGioHang", "Cart")" onclick="return confirm('Sorry! The number of products you purchased exceeds the allowed number');">Check Out</a>
                                    }
                                    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Continue shopping</a>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</div>


